name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install Trunk
      run: |
        if ! command -v trunk >/dev/null; then
          cargo install trunk --version 0.22.0
        fi

    - name: Cache Cargo bin
      uses: actions/cache@v4
      with:
        path: ~/.cargo/bin
        key: cargo-bin-${{ hashFiles('**/Cargo.lock') }}
        restore-keys: cargo-bin-

    - name: Build (with trunk)
      run: trunk build
