name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Cache Cargo bin
      uses: actions/cache@v4
      with:
        path: ~/.cargo/bin
        key: cargo-bin-${{ hashFiles('**/Cargo.lock') }}
        restore-keys: cargo-bin-

    - name: Add wasm32-unknown-unknown compilation target
      run: rustup target add wasm32-unknown-unknown

    - name: Install Trunk
      run: |
        if ! command -v trunk >/dev/null; then
          cargo install trunk --version 0.21.14
        fi

    - name: Build (with trunk)
      run: trunk build

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./dist
